{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/studies.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Studies</h1>
          <span class="subheading">My academic journey.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <!-- Studies Entry preview-->
        {% for studies_entry in studies_entries %}
        <div class="post-preview">
          <a href="{{ url_for('show_studies_entry', studies_entry_id = studies_entry.id) }}">
            <h2 class="post-title">{{ studies_entry.university }}</h2>
            <h3 class="post-subtitle">{{ studies_entry.faculty }}</h3>
          </a>
          <p class="post-meta">
            Start: {{studies_entry.start_date}}
            Finish: {{studies_entry.end_date}}
            {% if current_user.get_id() == '1' %}
              <a href="{{ url_for('delete_studies_entry', studies_entry_id=studies_entry.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        {% endfor %}

        <!-- New Studies Entry -->
        {% if current_user.get_id() == '1' %}
          <div class="d-flex justify-content-end mb-4">
            <a
              class="btn btn-primary float-right"
              href="{{ url_for('add_new_studies_entry') }}"
              >Add New Entry</a
            >
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
