{% block content %}
{%include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/edit-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if is_edit: %}
          <h1>Edit Studies Entry</h1>
          {% else: %}
          <h1>New Studies Entry</h1>
          {% endif %}
          <span class="subheading"
            >Live as if you were to die tomorrow. Learn as if you were to live forever.</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <form action="{{ url_for('add_new_studies_entry') }}" method="POST">

          {{ form.hidden_tag() }}

          {{ form.university.label }}<br>{{ form.university(type="text", class="form-control", style="width: 100%;", maxlength=200) }}<br>
          {{ form.faculty.label }}<br>{{ form.faculty(type="text", class="form-control", style="width: 100%;", maxlength=200) }}<br>
          {{ form.start_date.label }}<br>{{ form.start_date(type="text", class="form-control", style="width: 100%;", maxlength=200) }}<br>
          {{ form.end_date.label }}<br>{{ form.end_date(type="text", class="form-control", style="width: 100%;", maxlength=200) }}<br>
          {{ form.grade.label }}<br>{{ form.grade(type="text", class="form-control", style="width: 100%;", maxlength=200) }}<br>

          {{ form.submit }}

        </form>

      </div>
    </div>
  </div>
</main>
{% include "footer.html" %} {% endblock %}
