{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ projects_entry.img_url }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ projects_entry.name }}</h1>
          <h2 class="subheading">{{ projects_entry.name }}</h2>
          <span class="meta">
            Start: {{ projects_entry.start_date }}<br>
            Until: {{ projects_entry.end_date }}
          </span>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 25%">25%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ projects_entry.body|safe }}
        {% if current_user.get_id() == '1' %}
          <div class="d-flex justify-content-end mb-4">
            <a
              class="btn btn-primary float-right"
              href="{{ url_for('edit_projects_entry', projects_entry_id=projects_entry.id) }}"
              >Edit projects Entry</a
            >
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</article>

{% include "footer.html" %}
