{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ projects_entry.img_url }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ projects_entry.name }}</h1>
          <h2 class="subheading">{{ projects_entry.name }}</h2>
          <span class="meta">
            Start: {{ projects_entry.start_date }}<br>
            Until: {{ projects_entry.end_date }}
          </span>
          <br>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="{{ projects_entry.progress_level }}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: {{ projects_entry.progress_level }}%">{{ projects_entry.progress_level }}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <h2 class="subheading">Steps to complete</h2>

        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
          <div class="list-group">

            {% for step in steps %}
              <label class="list-group-item d-flex gap-3">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="" style="font-size: 1.375em;">
                <span class="pt-1 form-checked-content">
                  <strong>Finish sales report</strong>
                  <small class="d-block text-body-secondary">
                    <svg class="bi me-1" width="1em" height="1em" role="img" aria-label="Schedule">
                    <use xlink:href="#calendar-event"></use>
                    </svg>
                    1:00–2:00pm

                  </small>
                </span>
              </label>
            {% endfor %}

            <form method="POST" action="{{ {{ url_for('show_projects_entry', projects_entry_id = projects_entry.id) }} }}">

              {{ form.hidden_tag() }}

               <label class="list-group-item d-flex gap-3 bg-body-tertiary">
                 {{ form.name(type="text", class="form-control", style="width: 100%;", maxlength=200) }}
                 {{ form.submit }}
               </label>
            </form>



          </div>
        </div>

        <h2 class="subheading">Description</h2>

        {{ projects_entry.body|safe }}
        {% if current_user.get_id() == '1' %}
          <div class="d-flex justify-content-end mb-4">
            <a
              class="btn btn-primary float-right"
              href="{{ url_for('edit_projects_entry', projects_entry_id=projects_entry.id) }}"
              >Edit projects Entry</a
            >
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</article>

{% include "footer.html" %}
