{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Projects</h1>
          <span class="subheading">My projects.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <!-- projects Entry preview-->
        {% for projects_entry in projects_entries %}
        <div class="post-preview">
          <a href="{{ url_for('show_projects_entry', projects_entry_id = projects_entry.id) }}">
            <h2 class="post-title">{{ projects_entry.name }}</h2>
            <h3 class="post-subtitle">{{ projects_entry.name }}</h3>
          </a>
          <br>
          <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="{{ projects_entry.progress_level }}" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: {{ projects_entry.progress_level }}%">{{ projects_entry.progress_level }}%</div>
          </div>
          <br>
          <p class="post-meta">
            Start: {{projects_entry.start_date}}
            Finish: {{projects_entry.end_date}}
            {% if current_user.get_id() == '1' %}
              <a href="{{ url_for('delete_projects_entry', projects_entry_id=projects_entry.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        {% endfor %}

        <!-- New projects Entry -->
        {% if current_user.get_id() == '1' %}
          <div class="d-flex justify-content-end mb-4">
            <a
              class="btn btn-primary float-right"
              href="{{ url_for('add_new_projects_entry') }}"
              >Add New Entry</a
            >
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
